.wrapper {
    max-width: 1280px;
}

.center-me {
    margin: auto;
    display: block;
}

.material-icons, .icon.material-icons {
    font-family: 'Material Icons';
}

h1.ui.header {
    padding-top: 20px; 
}

h3.ui.header {
    text-transform: uppercase;
}

.ui.list .list>.item .description, .ui.list>.item .description {
    text-transform: capitalize;
}

.ui.ordered.list .list>.item, .ui.ordered.list>.item, ol.ui.list li {
    overflow: auto;
}

.b-space-1 {
    text-indent: 25px;
}

.b-space-2 {
    text-indent: 50px;
}

.b-space-3 {
    text-indent: 75px;
}

.b-space-4 {
    text-indent: 100px;
}

.i-color {
    background-color: rgb(64, 84, 178);
    color: #fff;
}

.i-circular {
    border-radius: 50%;
}

code, code * {
    background-color: rgba(200,200,200,0.2);
}